flow.json
[
  {
    "type": "tab",
    "id": "828b2334.7d74e",
    "label": "Sheet 1",
    "debugBreak": false,
    "debugOutput": false
  },
  {
    "id": "8d56da90.72a928",
    "type": "http in",
    "debugBreak": false,
    "debugOutput": false,
    "name": "busstop",
    "url": "/busstop/data",
    "method": "post",
    "configKey": "",
    "username": "",
    "password": "",
    "authType": "noAuth",
    "useAuth": false,
    "useOauth": false,
    "encryption": "none",
    "realm": "",
    "clientId": "",
    "clientSecret": "",
    "site": "",
    "authorizationPath": "/oauth/authorize",
    "tokenPath": "/oauth/access_token",
    "scope": "",
    "encryptObj": [
      "username",
      "password",
      "clientId",
      "clientSecret"
    ],
    "x": 83.5625,
    "y": 239.00000381469727,
    "z": "828b2334.7d74e",
    "wires": [
      [
        "675ca6d1.98a358",
        "5ad198b2.a52e68"
      ]
    ]
  },
  {
    "id": "675ca6d1.98a358",
    "type": "debug",
    "debugBreak": false,
    "debugOutput": false,
    "name": "Request Message",
    "active": true,
    "console": "true",
    "complete": "true",
    "x": 253.5625,
    "y": 120,
    "z": "828b2334.7d74e",
    "wires": [

    ]
  },
  {
    "id": "200268db.dffd98",
    "type": "http response",
    "debugBreak": false,
    "debugOutput": false,
    "name": "ResponseBack",
    "x": 432.56248474121094,
    "y": 229.00000190734863,
    "z": "828b2334.7d74e",
    "wires": [

    ]
  },
  {
    "id": "5ad198b2.a52e68",
    "type": "function",
    "debugBreak": false,
    "debugOutput": false,
    "name": "process Message",
    "func": "//The data can be found in msg.req.body:\n\ncontext.global.count=msg.payload.count;\ncontext.global.stopId=msg.payload.stopId;\nmsg.payload=\"ok\";\nreturn msg;\n",
    "outputs": 1,
    "valid": true,
    "dependencies": [

    ],
    "x": 150.5625,
    "y": 357.99998664855957,
    "z": "828b2334.7d74e",
    "wires": [
      [
        "200268db.dffd98",
        "3975181.fc68ae8"
      ]
    ]
  },
  {
    "id": "75bb61bb.8a44a",
    "type": "m2x",
    "debugBreak": false,
    "debugOutput": false,
    "feed": "cd935ddd.326ca",
    "name": "Initialize",
    "x": 451.56248474121094,
    "y": 411.00001525878906,
    "z": "828b2334.7d74e",
    "wires": [
      [
        "1ff814c4.e007eb"
      ]
    ]
  },
  {
    "id": "dfdb02f6.2025",
    "type": "function",
    "debugBreak": false,
    "debugOutput": false,
    "name": "prepareM2XMessage",
    "func": "var timeStamp = new Date();\nmsg={};\nmsg.topic = \"devices\";\nmsg.action = \"postMultiple\";\nmsg.topic_id = \"deviceid\";\nvar streamName = 'stop' + stopId;\n\nvar streamName=\"busstop\"+context.global.stopId;\nmsg.payload={};\nmsg.payload[streamName]= [{ \"timestamp\": timeStamp, \"value\": context.global.count}];\n/*\nmsg.payload =  {\n  streamName : [\n    { \"timestamp\": timeStamp, \"value\": context.global.count}]\n};\n*/\n\n\n/*\nmsg.payload = {};\n//send josn comand order to insert to m2x storage \nmsg.topic = \"devices\";\nmsg.topic_id = \"7a001bf6320fd698e3f9474f79218c7a\";\nmsg.sub_topic_id =\"busstop1666\";\nvar dateObject =new Date();\nmsg.postMultiple = {};\nmsg.payload =  { \"values\": { \"busstop1666\": [ { \"timestamp\":dateObject.toISOString()+\"\" , \"value\": \"23\" } ] } } \n*/\nreturn msg;\n//msg.\n/*\nvar msg={};\nvar date = new Date();\ndate = date.toISOString();\n\n//Prepare 'postMultiple' command. use the temperature, humidity and date.\nmsg.topic= \"postMultiple\"; \nmsg.payload = {\"busstop\": {\n  \"count\": [\n    { \"at\": date, \"value\": 1 }],\n  \"stopId\": [\n    { \"at\": date, \"value\": 1234 }]\n  }\n};\n\nreturn msg;\n*/",
    "outputs": 1,
    "valid": true,
    "dependencies": "changed",
    "x": 492.56248474121094,
    "y": 340,
    "z": "828b2334.7d74e",
    "wires": [
      [
        "75bb61bb.8a44a"
      ]
    ]
  },
  {
    "id": "1ff814c4.e007eb",
    "type": "debug",
    "debugBreak": false,
    "debugOutput": false,
    "name": "M2XMesssage",
    "active": true,
    "console": "true",
    "complete": "payload",
    "x": 695.5625,
    "y": 478,
    "z": "828b2334.7d74e",
    "wires": [

    ]
  },
  {
    "id": "65bf9f55.9a406",
    "type": "http curl",
    "name": "",
    "method": "PUT",
    "url": "",
    "ret": "txt",
    "configKey": "",
    "useAuth": false,
    "username": "",
    "password": "",
    "encryption": "0",
    "useCertificate": false,
    "cert": "",
    "key": "",
    "verbose": false,
    "x": 247.01136779785156,
    "y": 490.2840881347656,
    "z": "828b2334.7d74e",
    "wires": [
      [
        "dfdb02f6.2025"
      ]
    ],
    "encryptObj": [
      "username",
      "password"
    ]
  },
  {
    "id": "3975181.fc68ae8",
    "type": "function",
    "name": "",
    "func": "msg={};\nmsg.url=\"http://api-m2x.att.com/v2/devices/deviceid/streams/busstop\"+context.global.stopId;\nmsg.headers={\"X-M2X-KEY\": \"masterkey\"}\n\nreturn msg;",
    "outputs": 1,
    "valid": true,
    "dependencies": [

    ],
    "x": 109.01136779785156,
    "y": 439.2840867003135,
    "z": "828b2334.7d74e",
    "wires": [
      [
        "65bf9f55.9a406"
      ]
    ]
  }
]