flow.json
[
  {
    "type": "tab",
    "id": "828b2334.7d74e",
    "label": "Sheet 1",
    "debugBreak": false,
    "debugOutput": false
  },
  {
    "id": "8d56da90.72a928",
    "type": "http in",
    "debugBreak": false,
    "debugOutput": false,
    "name": "busstop",
    "url": "/busstop/data",
    "method": "post",
    "configKey": "",
    "username": "",
    "password": "",
    "authType": "noAuth",
    "useAuth": false,
    "useOauth": false,
    "encryption": "none",
    "realm": "",
    "clientId": "",
    "clientSecret": "",
    "site": "",
    "authorizationPath": "/oauth/authorize",
    "tokenPath": "/oauth/access_token",
    "scope": "",
    "encryptObj": [
      "username",
      "password",
      "clientId",
      "clientSecret"
    ],
    "x": 123.5625,
    "y": 266,
    "z": "828b2334.7d74e",
    "wires": [
      [
        "675ca6d1.98a358",
        "5ad198b2.a52e68"
      ]
    ]
  },
  {
    "id": "675ca6d1.98a358",
    "type": "debug",
    "debugBreak": false,
    "debugOutput": false,
    "name": "Request Message",
    "active": true,
    "console": "true",
    "complete": "true",
    "x": 253.5625,
    "y": 120,
    "z": "828b2334.7d74e",
    "wires": [

    ]
  },
  {
    "id": "200268db.dffd98",
    "type": "http response",
    "debugBreak": false,
    "debugOutput": false,
    "name": "ResponseBack",
    "x": 327.56248474121094,
    "y": 498.9999885559082,
    "z": "828b2334.7d74e",
    "wires": [

    ]
  },
  {
    "id": "5ad198b2.a52e68",
    "type": "function",
    "debugBreak": false,
    "debugOutput": false,
    "name": "process Message",
    "func": "//The data can be found in msg.req.body:\n\ncontext.global.count=msg.payload.count;\ncontext.global.stopId=msg.payload.stopId;\n\nreturn msg;\n",
    "outputs": 1,
    "valid": true,
    "dependencies": [

    ],
    "x": 176.5625,
    "y": 389,
    "z": "828b2334.7d74e",
    "wires": [
      [
        "200268db.dffd98",
        "fee2f3b7.011d1",
        "ce9e9577.316168",
        "dfdb02f6.2025"
      ]
    ]
  },
  {
    "id": "fa1136c.f05eec8",
    "type": "http curl",
    "debugBreak": false,
    "debugOutput": false,
    "name": "",
    "method": "POST",
    "url": "http://159.203.212.140:3000/v1/ericsson/route",
    "ret": "txt",
    "configKey": "",
    "useAuth": false,
    "username": "",
    "password": "",
    "encryption": "0",
    "useCertificate": false,
    "cert": "",
    "key": "",
    "verbose": false,
    "x": 806.5625,
    "y": 300,
    "z": "828b2334.7d74e",
    "wires": [
      [
        "5568f103.aa971",
        "4d252ad6.b2dad4"
      ]
    ],
    "encryptObj": [
      "username",
      "password"
    ]
  },
  {
    "id": "fee2f3b7.011d1",
    "type": "function",
    "debugBreak": false,
    "debugOutput": false,
    "name": "CurlPayload",
    "func": "msg.payload={\n    \"stopId\": context.global.stopId,\n    \"count\": context.global.count\n};\nmsg.headers={'Accept': 'application/json'};\nreturn msg;",
    "outputs": 1,
    "valid": true,
    "dependencies": [

    ],
    "x": 588.5625,
    "y": 345,
    "z": "828b2334.7d74e",
    "wires": [
      [
        "fa1136c.f05eec8",
        "22f750c5.dd08b"
      ]
    ]
  },
  {
    "id": "5568f103.aa971",
    "type": "http response",
    "debugBreak": false,
    "debugOutput": false,
    "name": "",
    "x": 896.5625,
    "y": 105,
    "z": "828b2334.7d74e",
    "wires": [

    ]
  },
  {
    "id": "ce9e9577.316168",
    "type": "debug",
    "debugBreak": false,
    "debugOutput": false,
    "name": "ResponseMessageForBusstop",
    "active": true,
    "console": "true",
    "complete": "payload.count",
    "x": 430.5625,
    "y": 187,
    "z": "828b2334.7d74e",
    "wires": [

    ]
  },
  {
    "id": "22f750c5.dd08b",
    "type": "debug",
    "debugBreak": false,
    "debugOutput": false,
    "name": "curlRequestMessage",
    "active": true,
    "console": "true",
    "complete": "payload",
    "x": 786.5625,
    "y": 398,
    "z": "828b2334.7d74e",
    "wires": [

    ]
  },
  {
    "id": "4d252ad6.b2dad4",
    "type": "debug",
    "debugBreak": false,
    "debugOutput": false,
    "name": "Curl PayLoad",
    "active": true,
    "console": "true",
    "complete": "true",
    "x": 1058.5625,
    "y": 318,
    "z": "828b2334.7d74e",
    "wires": [

    ]
  },
  {
    "id": "75bb61bb.8a44a",
    "type": "m2x",
    "debugBreak": false,
    "debugOutput": false,
    "feed": "cd935ddd.326ca",
    "name": "Initialize",
    "x": 451.56248474121094,
    "y": 411.00001525878906,
    "z": "828b2334.7d74e",
    "wires": [
      [
        "1ff814c4.e007eb"
      ]
    ]
  },
  {
    "id": "dfdb02f6.2025",
    "type": "function",
    "debugBreak": false,
    "debugOutput": false,
    "name": "prepareM2XMessage",
    "func": "var timeStamp = new Date();\n\nmsg.topic = \"devices\";\nmsg.action = \"postMultiple\";\nmsg.topic_id = \"provideme\";\nvar streamName=\"busstop\"+context.global.stopId;\n\nmsg.payload =  {\n  \"busstop1636\" : [\n    { \"timestamp\": timeStamp, \"value\": context.global.count  }]\n};\n\n\n\n/*\nmsg.payload = {};\n//send josn comand order to insert to m2x storage \nmsg.topic = \"devices\";\nmsg.topic_id = \"7a001bf6320fd698e3f9474f79218c7a\";\nmsg.sub_topic_id =\"busstop1666\";\nvar dateObject =new Date();\nmsg.postMultiple = {};\nmsg.payload =  { \"values\": { \"busstop1666\": [ { \"timestamp\":dateObject.toISOString()+\"\" , \"value\": \"23\" } ] } } \n*/\nreturn msg;\n//msg.\n/*\nvar msg={};\nvar date = new Date();\ndate = date.toISOString();\n\n//Prepare 'postMultiple' command. use the temperature, humidity and date.\nmsg.topic= \"postMultiple\"; \nmsg.payload = {\"busstop\": {\n  \"count\": [\n    { \"at\": date, \"value\": 1 }],\n  \"stopId\": [\n    { \"at\": date, \"value\": 1234 }]\n  }\n};\n\nreturn msg;\n*/",
    "outputs": 1,
    "valid": true,
    "dependencies": "changed",
    "x": 351.56248474121094,
    "y": 317.9999885559082,
    "z": "828b2334.7d74e",
    "wires": [
      [
        "75bb61bb.8a44a"
      ]
    ]
  },
  {
    "id": "1ff814c4.e007eb",
    "type": "debug",
    "debugBreak": false,
    "debugOutput": false,
    "name": "M2XMesssage",
    "active": true,
    "console": "true",
    "complete": "payload",
    "x": 695.5625,
    "y": 478,
    "z": "828b2334.7d74e",
    "wires": [

    ]
  }
]